//
   Created by dtysky on 16/3/2.

extends base

block pre
    if type == "home"
        p
            | 欢迎来到我的博客，这里是我在旅程中设立的一些路标，希望大家能够从我的一些经验中有所收获，可以是喜悦，也可以是悲伤，亦或是愤怒、讽刺与同情。
            | 上面的四个按钮分别表示四个分类，右下侧（PC端）或者上下方（移动端）的色块中也有一些按钮，Home为返回主页，dtysky（PC端）或正中图标（移动端）为我的个人简历，其他皆为字面或者图面上的意思（例如RSS订阅）。

block metadata
    if type == "home"
        title #{site_title}
    else
        title #{title} - #{site_title}
    meta(name="keywords", content=keywords)
    meta(name="description", content="这是关于" + title + "的所有文章")
    meta(name="author", content=authors)
    link(href=rss_link rel="alternate" title=rss_title type="application/rss+xml")

block content
    div
        each page in pages
            article
                div
                    a(herf= "/article/" + page.slug)
                        h3 #{page.title.view}
                div
                    p #{page.summary}
                    p 少女
                    each author in page.authors
                        a(href="/author/" + author.slug) #{author.view}
                    p 于#{page.date}
                    p 创作, 路标:
                    each tag in page.tags
                        a(href="/tag/" + tag.slug) #{tag.view}
    include pagination

block outer_links
    include outer-links